{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 3000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components",
          "/apps",
          "/cache",
          "/docs",
          "/logs",
          "/vendor",
          "/public"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/README.md"
        ],
        "exceptions": [
          "src/scss/style.scss",
          "src/scss/components.scss"
        ]
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": []
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 80
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 80
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": true,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": true
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "relativePath": "",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "src/img/americanexpress.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 80
              }
            }
          },
          "customOutput": "public\\assets\\img\\americanexpress.png",
          "originalSize": 2865,
          "optimized": true
        }
      },
      {
        "file": "src/img/avatar/avatar-1.png",
        "config": {
          "optimized": true,
          "originalSize": 8312,
          "customOutput": "public\\assets\\img\\avatar\\avatar-1.png"
        }
      },
      {
        "file": "src/img/avatar/avatar-2.png",
        "config": {
          "optimized": true,
          "originalSize": 8923,
          "customOutput": "public\\assets\\img\\avatar\\avatar-2.png"
        }
      },
      {
        "file": "src/img/avatar/avatar-3.png",
        "config": {
          "optimized": true,
          "originalSize": 8187,
          "customOutput": "public\\assets\\img\\avatar\\avatar-3.png"
        }
      },
      {
        "file": "src/img/avatar/avatar-4.png",
        "config": {
          "optimized": true,
          "originalSize": 8025,
          "customOutput": "public\\assets\\img\\avatar\\avatar-4.png"
        }
      },
      {
        "file": "src/img/avatar/avatar-5.png",
        "config": {
          "optimized": true,
          "originalSize": 8370,
          "customOutput": "public\\assets\\img\\avatar\\avatar-5.png"
        }
      },
      {
        "file": "src/img/browsers/chrome.png",
        "config": {
          "optimized": true,
          "originalSize": 21440,
          "customOutput": "public\\assets\\img\\browsers\\chrome.png"
        }
      },
      {
        "file": "src/img/browsers/firefox.png",
        "config": {
          "optimized": true,
          "originalSize": 29633,
          "customOutput": "public\\assets\\img\\browsers\\firefox.png"
        }
      },
      {
        "file": "src/img/browsers/internet-explorer.png",
        "config": {
          "optimized": true,
          "originalSize": 21544,
          "customOutput": "public\\assets\\img\\browsers\\internet-explorer.png"
        }
      },
      {
        "file": "src/img/browsers/opera.png",
        "config": {
          "optimized": true,
          "originalSize": 19133,
          "customOutput": "public\\assets\\img\\browsers\\opera.png"
        }
      },
      {
        "file": "src/img/browsers/safari.png",
        "config": {
          "optimized": true,
          "originalSize": 30597,
          "customOutput": "public\\assets\\img\\browsers\\safari.png"
        }
      },
      {
        "file": "src/img/company-logo.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\company-logo.png",
          "originalSize": 14477,
          "optimized": true
        }
      },
      {
        "file": "src/img/company-logo.png",
        "config": {
          "customOutput": "public\\assets\\img\\company-logo.png",
          "optimized": true,
          "originalSize": 10641
        }
      },
      {
        "file": "src/img/dinersclub.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 80
              }
            }
          },
          "customOutput": "public\\assets\\img\\dinersclub.png",
          "originalSize": 2014,
          "optimized": true
        }
      },
      {
        "file": "src/img/discover.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 80
              }
            }
          },
          "customOutput": "public\\assets\\img\\discover.png",
          "originalSize": 2229,
          "optimized": true
        }
      },
      {
        "file": "src/img/example-image-50.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\example-image-50.jpg",
          "originalSize": 16109,
          "optimized": true
        }
      },
      {
        "file": "src/img/example-image.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\example-image.jpg",
          "originalSize": 23527,
          "optimized": true
        }
      },
      {
        "file": "src/img/jcb.png",
        "config": {
          "customOutput": "public\\assets\\img\\jcb.png",
          "originalSize": 1866,
          "optimized": true
        }
      },
      {
        "file": "src/img/mastercard.png",
        "config": {
          "customOutput": "public\\assets\\img\\mastercard.png",
          "originalSize": 2226,
          "optimized": true
        }
      },
      {
        "file": "src/img/news/img01.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img01.jpg",
          "originalSize": 40302,
          "optimized": true
        }
      },
      {
        "file": "src/img/news/img02.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img02.jpg",
          "originalSize": 18534,
          "optimized": true
        }
      },
      {
        "file": "src/img/news/img03.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img03.jpg",
          "originalSize": 18797,
          "optimized": true
        }
      },
      {
        "file": "src/img/news/img04.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img04.jpg",
          "originalSize": 18688,
          "optimized": true
        }
      },
      {
        "file": "src/img/news/img05.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img05.jpg",
          "optimized": true,
          "originalSize": 20160
        }
      },
      {
        "file": "src/img/news/img06.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img06.jpg",
          "optimized": true,
          "originalSize": 23527
        }
      },
      {
        "file": "src/img/news/img07.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img07.jpg",
          "optimized": true,
          "originalSize": 18534
        }
      },
      {
        "file": "src/img/news/img08.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img08.jpg",
          "optimized": true,
          "originalSize": 18797
        }
      },
      {
        "file": "src/img/news/img09.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img09.jpg",
          "optimized": true,
          "originalSize": 18688
        }
      },
      {
        "file": "src/img/news/img10.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img10.jpg",
          "optimized": true,
          "originalSize": 20160
        }
      },
      {
        "file": "src/img/news/img11.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img11.jpg",
          "optimized": true,
          "originalSize": 23527
        }
      },
      {
        "file": "src/img/news/img12.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img12.jpg",
          "optimized": true,
          "originalSize": 18534
        }
      },
      {
        "file": "src/img/news/img13.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img13.jpg",
          "optimized": true,
          "originalSize": 18797
        }
      },
      {
        "file": "src/img/news/img14.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img14.jpg",
          "optimized": true,
          "originalSize": 18688
        }
      },
      {
        "file": "src/img/news/img15.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img15.jpg",
          "optimized": true,
          "originalSize": 20160
        }
      },
      {
        "file": "src/img/news/img16.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img16.jpg",
          "optimized": true,
          "originalSize": 23527
        }
      },
      {
        "file": "src/img/news/img17.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\news\\img17.jpg",
          "optimized": true,
          "originalSize": 18534
        }
      },
      {
        "file": "src/img/p-250.png",
        "config": {
          "customOutput": "public\\assets\\img\\p-250.png",
          "originalSize": 751,
          "optimized": true
        }
      },
      {
        "file": "src/img/p-50.png",
        "config": {
          "customOutput": "public\\assets\\img\\p-50.png",
          "originalSize": 172,
          "optimized": true
        }
      },
      {
        "file": "src/img/paypal.png",
        "config": {
          "customOutput": "public\\assets\\img\\paypal.png",
          "originalSize": 2071,
          "optimized": true
        }
      },
      {
        "file": "src/img/products/product-1-50.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-1-50.jpg",
          "optimized": true,
          "originalSize": 18797
        }
      },
      {
        "file": "src/img/products/product-1-50.png",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-1-50.png",
          "originalSize": 1316,
          "optimized": true
        }
      },
      {
        "file": "src/img/products/product-1.jpg",
        "config": {
          "optimized": true,
          "customOutput": "public\\assets\\img\\products\\product-1.jpg",
          "originalSize": 21422
        }
      },
      {
        "file": "src/img/products/product-2-50.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-2-50.jpg",
          "optimized": true,
          "originalSize": 18797
        }
      },
      {
        "file": "src/img/products/product-2-50.png",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-2-50.png",
          "originalSize": 1049,
          "optimized": true
        }
      },
      {
        "file": "src/img/products/product-2.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-2.jpg",
          "optimized": true,
          "originalSize": 20421
        }
      },
      {
        "file": "src/img/products/product-3-50.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-3-50.jpg",
          "optimized": true,
          "originalSize": 18797
        }
      },
      {
        "file": "src/img/products/product-3-50.png",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-3-50.png",
          "originalSize": 698,
          "optimized": true
        }
      },
      {
        "file": "src/img/products/product-3.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-3.jpg",
          "optimized": true,
          "originalSize": 20645
        }
      },
      {
        "file": "src/img/products/product-4-50.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-4-50.jpg",
          "optimized": true,
          "originalSize": 18797
        }
      },
      {
        "file": "src/img/products/product-4-50.png",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-4-50.png",
          "originalSize": 680,
          "optimized": true
        }
      },
      {
        "file": "src/img/products/product-4.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-4.jpg",
          "optimized": true,
          "originalSize": 20288
        }
      },
      {
        "file": "src/img/products/product-5-50.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-5-50.jpg",
          "optimized": true,
          "originalSize": 18797
        }
      },
      {
        "file": "src/img/products/product-5-50.png",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-5-50.png",
          "originalSize": 1090,
          "optimized": true
        }
      },
      {
        "file": "src/img/products/product-5.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\products\\product-5.jpg",
          "originalSize": 21500,
          "optimized": true
        }
      },
      {
        "file": "src/img/spinner-primary.svg",
        "config": {
          "customOutput": "public\\assets\\img\\spinner-primary.svg",
          "originalSize": 609,
          "optimized": true
        }
      },
      {
        "file": "src/img/spinner-white.svg",
        "config": {
          "customOutput": "public\\assets\\img\\spinner-white.svg",
          "originalSize": 606,
          "optimized": true
        }
      },
      {
        "file": "src/img/spinner.svg",
        "config": {
          "customOutput": "public\\assets\\img\\spinner.svg",
          "originalSize": 606,
          "optimized": true
        }
      },
      {
        "file": "src/img/stisla-fill.svg",
        "config": {
          "customOutput": "public\\assets\\img\\stisla-fill.svg",
          "originalSize": 983,
          "optimized": true
        }
      },
      {
        "file": "src/img/stisla-light.svg",
        "config": {
          "customOutput": "public\\assets\\img\\stisla-light.svg",
          "originalSize": 983,
          "optimized": true
        }
      },
      {
        "file": "src/img/stisla-transparent.svg",
        "config": {
          "customOutput": "public\\assets\\img\\stisla-transparent.svg",
          "originalSize": 989,
          "optimized": true
        }
      },
      {
        "file": "src/img/stisla.svg",
        "config": {
          "customOutput": "public\\assets\\img\\stisla.svg",
          "originalSize": 977,
          "optimized": true
        }
      },
      {
        "file": "src/img/typing.svg",
        "config": {
          "customOutput": "public\\assets\\img\\typing.svg",
          "originalSize": 1510,
          "optimized": true
        }
      },
      {
        "file": "src/img/unsplash/andre-benz-1214056-unsplash.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\unsplash\\andre-benz-1214056-unsplash.jpg",
          "originalSize": 2301340,
          "optimized": true
        }
      },
      {
        "file": "src/img/unsplash/eberhard-grossgasteiger-1207565-unsplash.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\unsplash\\eberhard-grossgasteiger-1207565-unsplash.jpg",
          "optimized": true,
          "originalSize": 3636737
        }
      },
      {
        "file": "src/img/unsplash/pandre-benz-1214056-unsplash.jpg",
        "config": {
          "customOutput": "public\\assets\\img\\unsplash\\pandre-benz-1214056-unsplash.jpg",
          "optimized": true,
          "originalSize": 18797
        }
      },
      {
        "file": "src/img/visa.png",
        "config": {
          "customOutput": "public\\assets\\img\\visa.png",
          "originalSize": 2162,
          "optimized": true
        }
      },
      {
        "file": "src/js/bundle.js",
        "config": {
          "customOutput": "public\\assets\\js\\bundle.min.js"
        }
      },
      {
        "file": "src/js/custom.js",
        "config": {
          "autoCompile": true,
          "customOutput": "public\\assets\\js\\custom.min.js"
        }
      },
      {
        "file": "src/js/page/auth-register.js",
        "config": {
          "autoCompile": true,
          "customOutput": "public\\assets\\js\\page\\auth-register.min.js"
        }
      },
      {
        "file": "src/js/page/bootstrap-modal.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\bootstrap-modal.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/components-chat-box.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\components-chat-box.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/components-multiple-upload.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\components-multiple-upload.min.js"
        }
      },
      {
        "file": "src/js/page/components-statistic.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\components-statistic.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/components-table.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\components-table.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/components-user.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\components-user.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/features-post-create.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\features-post-create.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/features-posts.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\features-posts.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/features-setting-detail.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\features-setting-detail.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/forms-advanced-forms.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\forms-advanced-forms.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/gmaps-advanced-route.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\gmaps-advanced-route.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/gmaps-draggable-marker.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\gmaps-draggable-marker.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/gmaps-geocoding.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\gmaps-geocoding.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/gmaps-geolocation.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\gmaps-geolocation.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/gmaps-marker.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\gmaps-marker.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/gmaps-multiple-marker.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\gmaps-multiple-marker.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/gmaps-route.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\gmaps-route.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/gmaps-simple.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\gmaps-simple.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/index-0.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\index-0.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/index.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\index.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/modules-calendar.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\modules-calendar.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/modules-chartjs.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\modules-chartjs.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/modules-datatables.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\modules-datatables.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/modules-ion-icons.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\modules-ion-icons.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/modules-slider.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\modules-slider.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/modules-sparkline.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\modules-sparkline.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/modules-sweetalert.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\modules-sweetalert.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/modules-toastr.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\modules-toastr.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/modules-vector-map.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\modules-vector-map.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/page/utilities-contact.js",
        "config": {
          "customOutput": "public\\assets\\js\\page\\utilities-contact.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/scripts.js",
        "config": {
          "customOutput": "public\\assets\\js\\scripts.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "src/js/stisla.js",
        "config": {
          "autoCompile": true,
          "customOutput": "public\\assets\\js\\stisla.min.js"
        }
      },
      {
        "file": "src/scss/components.scss",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "public\\assets\\css\\components.css",
          "sourceMap": true
        }
      },
      {
        "file": "src/scss/style.scss",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "public\\assets\\css\\style.css",
          "sourceMap": true
        }
      }
    ]
  }
}
